	
.errer-page {
    background-color: #eef2f6;
    padding: 15px;
}
.errer-page-505 {  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 78vh;  
}
.errer-page-505 h1 {
    color: #07a8de;
    font-size: 150px;
    font-weight: bold;
    margin-bottom: -15px;  
}  
.errer-page-505 p {
    font-weight: 300;
    font-size: 17px;
    color: #555555;
    margin-bottom: 5px;  
}
.errer-page-505 h5 {
    font-size: 32px;
    font-weight: 500;
    color: #555555;
}    
.help-link {
    color: #07a8de;
    font-size: 15px;
    font-weight: 400;
}  
.help-link:hover {  
    color: #07a8de;
    font-size: 15px;
    font-weight: 400;
}    


footer.add_list_footer {
    padding: 20px 30px 0px;
}  
footer.add_list_footer p {
    font-size: 14px;
}  
footer.add_list_footer .Binary_design-p {
    text-align: right;
}  
footer.add_list_footer .Binary_design-p a {
    color: #0099cc;
    text-decoration: none;
}  
